# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /beautia/demoes/spa/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /beautia/demoes/spa/index.php [L]
</IfModule>
# END WordPress
